<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Rhomobile | <%=h @title %></title>
  <link type="text/css" rel="stylesheet" href="/themes/launchpad/template/global/custom-css.ftl.css" media="screen,print" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen,print" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" media="screen,print" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen,print" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css" media="screen,print" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/font-awesome.min.css" media="screen,print" />
  <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />
  <link href='/stylesheets/jquery-ui.css' rel='stylesheet'>
  <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.pjax.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
  <script src="/javascripts/jquery.fitvids.js"></script>
  <script src="/javascripts/jquery.bxslider.min.js"></script>
  <script src='/javascripts/jquery-ui.min.js' type='text/javascript'></script>
  <script src='/javascripts/jquery.indextank.ize.js' type='text/javascript'></script>
  <script src='/javascripts/jquery.indextank.autocomplete.js' type='text/javascript'></script>
</head>

<body>
<div class="navbar " id="top_navbar">
  <div class="navbar-inner">

    <!-- Brand Logo -->
    <a class="brand" href="/home"><img src="/images/bg/zebra-logo.png" style="height:32px"/>&nbsp;<strong>RhoMobile Suite Documentation</strong></a>

    <!-- Docs Search -->
    <form class="navbar-search pull-right" id="searchForm" action="/search">
      <input type="text" class="search-query span4" id="query" placeholder="Search" name="q" size="31" value="">
    </form>

    <!-- Set DocVersion and Paths -->
    <% sectionGroup  = TOC.findGroup(request.path_info)
    if @docversion.nil? 
      @docversion = Version::CURR_VERSION
    end
    if @docversion  == 'hosted'
      vpath = "/en/#{Version::CURR_VERSION}"
    else
      vpath = "/en/#{@docversion}"
    end 
    # puts "version #{@docversion}"
    if @docversion != '2.2.0' # needs to stay hard-coded because we did not have folder scheme implemented
      homepath    = "#{vpath}/home"
      mapipath    = "#{vpath}/guide/apisummary"
      mguidepath  = "#{vpath}/guide/welcome"
      rcguidepath = "#{vpath}/rhoconnect/introduction"
    else
      vpath       = "/en/#{@docversion}"
      homepath    = "#{vpath}/home"
      mapipath    = "#{vpath}/rhoelements/apicompatibility"
      mguidepath  = "#{vpath}/rhodes/introduction"
      rcguidepath = "#{vpath}/rhoconnect/introduction"
    end

    # Set hosted services path no matter the version
    hostedguidepath = "/en/hosted/guide/welcome"
    %>

    <div class="row span12">
      <!-- Products Links -->
      <ul class="nav">
        <li class="<%=sectionGroup == 'Home' ? 'active' : ''%>">
          <a href="<%=homepath%>"><i class="icon-home"></i></a>
        </li>
        <li class="<%=sectionGroup == 'Mobile API Docs' ? 'active' : ''%>">
            <a href="<%=mapipath%>"><i class="icon-cog"></i> API Reference</a>
        </li>
        <li class="<%=sectionGroup == 'Mobile Guides' ? 'active' : ''%>">
          <a href="<%=mguidepath%>"><i class="icon-book"></i> RhoMobile Guides</a>
        </li>
        <li class="<%=sectionGroup == 'RhoConnect Guides' ? 'active' : ''%>">
          <a href="<%=rcguidepath%>"><i class="icon-refresh"></i> RhoConnect Guides</a>
        </li>
        <li class="<%=sectionGroup == 'Hosted Services' ? 'active' : ''%>">
          <a href="<%=hostedguidepath%>"><i class="icon-cloud"></i> rhomobile.com</a>
        </li>
      </ul>

      <ul class="nav pull-right">
        <!-- Version selector -->
        <li class="navbar-form">
          <!-- Do not show version selector if in search results or in hosted services docs -->
          <% if request.path_info != '/search' and !request.path_info.include? '/hosted/' %>
            <select id="version_select" class="input input-medium">
              <optgroup label="Beta">
                <option value=<%= Version::NEXT_VERSION %> <%=@docversion.nil? || @docversion == Version::NEXT_VERSION ? 'SELECTED' : ''%>><%=Version::NEXT_VERSION %></option>
              </optgroup>
              <optgroup label="Current Release" >
                <option value=<%= Version::CURR_VERSION %> <%=@docversion.nil? || @docversion == Version::CURR_VERSION ? 'SELECTED' : ''%>><%=Version::CURR_VERSION %></option>
              </optgroup>
              <optgroup label="Previous Releases">
                <option value=<%= Version::PREV_VERSION %> <%=@docversion == Version::PREV_VERSION ? 'SELECTED' : ''%>><%= Version::PREV_VERSION %></option>
                <!-- Keep all previous versions hard-coded -->
                <option value='4.0.0' <%=@docversion=='4.0.0' ? 'SELECTED' : ''%>>4.0.0</option>
                <option value='2.2.0' <%=@docversion=='2.2.0' ? 'SELECTED' : ''%>>2.2.0</option>
              </optgroup>
              </select>
          <% end %>
        </li>

        <!-- Bug Report Link -->
        <li class="pull-right">
          <a rel="tooltip" title="Report Doc Issue" tooltip="Report Doc Issue" href="#"><i class="icon icon-bug "></i> Report Issue</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="" class="row-fluid">
  <div id="doc_container" class="span12">
  <div id="docsnav" class="span2" <% if @print != 0 %> style="display:none" <% end %>>
    <% collapsed = true
       first = true
    %>
    <% 
      if !@steps.nil?
    %>
    <div class='well'>
      <ul class='nav nav-list'>
      <li class="nav-header"><a href="/en/<%=@docversion %>/tutorial/<%=@doc%>"><i class='icon '</i> <%=@docTitle %></a> </li>

      <% @steps.each do |gitlabel, title| %>
        <li class="<%='active' if gitlabel == @step%> "><a href='/en/<%=@docversion %>/tutorial/<%=gitlabel%>/<%=@doc%>'><%=title%></a></li>
        <% if gitlabel == @step %>
          <% if @toc.size > 0 && @print == 0 %>
            <ul class='nav nav-list'>
              <% @toc.each do |section| %>
                <li><a href="#<%= slugify(section) %>" class="muted"><i class="icon icon-angle-right"></i><%= section %></a></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>
     
  <% else
    sections.each do |slug, title, sectgroup, topics|
  %>
  <% if sectionGroup == sectgroup %>
    <% if topics and topics.length > 0 %>
      <% collapsed = false if TOC.find(request.path_info) == slug %>
      <%
      if collapsed
        header_icon = "icon-chevron-right"

      else
        header_icon = "icon-chevron-down"
      end
      %>
      <div class="accordion-heading">
        <li class="nav-header" data-target="#<%=slug%>" data-toggle="collapse">
          <%= title %><i class="<%=header_icon%>" style="float:left"></i>

        </li>
      </div>
      <ul class="nav nav-list  <%=collapsed ? 'collapse' : 'in'%>" id="<%=slug%>" >
    
      <% topics.each do |slug, title, _|
         %>
        <% if topic_path == slug %>
          <li class="active"><a onclick="return false" href="/<%= slug %>"><%=h title %></a></li>
        <% else %>
          <% if slug != 'rhoelements/apicompatibility' %>
          <li><a class='js-pjax' href="/<%= slug %>"><%=h title %></a></li>
          <%else%>
          <li><a  href="/<%= slug %>"><%=h title %></a></li>
          <%end %>
        <% end %>
      <% end %>
      </ul>
      <% collapsed = true %>
    <% else %>
        <% if first
          first=false %>
        <% else %>
        <li class="divider"></li>
        </ul>
        <% end %>
        <h3><%= title %></h3>
        <ul class="nav nav-list">
    <% end %>
    <% end %>
  <% end %>
    </ul> 
  <% end %>
  </div>

  <div class="span8">
    <% if !@docversion.nil? && @docversion != Version::CURR_VERSION && @docversion != 'hosted'%>
      <% if @docversion == Version::NEXT_VERSION%>
        <div class="alert alert-block alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="icon icon-warning-sign icon-large"></i> Warning Unreleased Docs! - You may be viewing documentation that reflects an upcoming release and the functionality described may not be in the current version you are using. Change the version above to the most recent version. </strong>
          </div>
      <% else%>
        <div class="alert alert-block ">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="icon icon-warning-sign icon-large"></i> Warning Older Docs! - You are viewing documentation for a previous released version of RhoMobile Suite.</strong>
          </div>
      <% end%>
      <% end %>   
    <div id="t_content" class="topic_content">
      <%= yield %>
    </div>
  </div>
  </div>
</div> <!-- end container -->

<% if request.host == 'docs.rhomobile.com' %>
<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5554280-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>
<% end %>


</body>
</html>
