<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="verify-v1" content="J75JQ+WGFRjBEnhNT4hhYxgVTQmRHjd0v3JF+izUFvA=" >
	<title>Heroku | <%=h @title %></title>
	<link type="text/css" rel="stylesheet" href="/css/docs.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen" />
	<script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$("#stack-compare tr").click(function(){
    	  window.location=$(this).find("a").attr("href"); 
    	  return false;
    	});
		});

	</script>
</head>
<body>

<div id="bodywrap">
	<div id="docsnav">
		<form action="/search">
			<div id="search">
				<input type="text" name="q" size="31" value="<%= params[:q] || '' %>" />
			</div>
		</form>

		<ul>
			<% sections.each do |slug, title, topics| %>
				<li>
				<h3><%= title %></h3>
				<ul>
					<% topics.each do |slug, title, _| %>
						<% if params[:topic] == slug %>
							<li class="current"><a><%=h title %></a></li>
						<% else %>
							<li><a href="/<%= slug %>"><%=h title %></a></li>
						<% end %>
					<% end %>
				</ul>
				</li>
			<% end %>
		</ul>
	</div>

	<div id="content">
		<div class="topic_content">
			<%= yield %>
		</div>
	</div>
</div>

<% if request.host == 'docs.heroku.com' %>
<!-- google analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-2989055-1");
pageTracker._setDomainName(".heroku.com");
pageTracker._trackPageview();
} catch(err) {}
</script>
<% end %>

<!-- Kiss Metrics -->
<script type="text/javascript">
  var KM_KEY = "858f55e10be896dee1d2f37f77198c31a0b90064";
  var KM_COOKIE_DOMAIN = 'heroku.com';
  document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") + "scripts.kissmetrics.com/t.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  if (document.location.pathname.toLowerCase() == "/" )
    KM.record("Docs: Homepage")
  if (document.location.pathname.toLowerCase() == '/quickstart') 
	KM.record("Docs: Quickstart")
  if (document.location.pathname.toLowerCase() == '/faq-accounts-billing') 
	KM.record("Docs: FAQ")
  if (document.location.pathname.toLowerCase() == '/faq-product-features') 
	KM.record("Docs: FAQ")
  if (document.location.pathname.toLowerCase() == '/performance') 
	KM.record("Docs: Performance")
  if (document.location.pathname.toLowerCase() == '/git') 
	KM.record("Docs: Git")
  if (document.location.pathname.toLowerCase() == '/errors') 
  	KM.record("Docs: Errors")
</script>


</body>
</html>
