<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Rhomobile | <%=h @title %></title>
	<link type="text/css" rel="stylesheet" href="/themes/launchpad/template/global/custom-css.ftl.css" media="screen,print" />
	
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen,print" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" media="screen,print" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen,print" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/application.css" media="screen,print" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/font-awesome.min.css" media="screen,print" />
	<link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />
	<link href='/stylesheets/jquery-ui.css' rel='stylesheet'> 
	<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.pjax.min.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
	  <script src="/javascripts/jquery.fitvids.js"></script>
	  <script src="/javascripts/jquery.bxslider.min.js"></script>
	<script src='/javascripts/jquery-ui.min.js' type='text/javascript'></script>
	<script src='/javascripts/jquery.indextank.ize.js' type='text/javascript'></script>
	<script src='/javascripts/jquery.indextank.autocomplete.js' type='text/javascript'></script> 

</head>
<body >

<div class="navbar " id="top_navbar">
  <div class="navbar-inner">

    <a class="brand"><img src="/images/bg/motorola-logo.png" style="width:32px"/>&nbsp;<strong>RhoMobile Suite Documentation</strong></a>
    	
    	<form class="navbar-search pull-right" id="searchForm" action="/search">
				
				<input type="text" class="search-query span4" id="query" placeholder="Search" name="q" size="31" value="">
    			

		</form>

		<% sectionGroup  = TOC.findGroup(request.path_info) 

		  puts "version#{@docversion}"
		if @docversion.nil? || @docversion == '4.0.0'
			vpath = ""
			homepath="/home"
			mapipath="/guide/apisummary"
			mguidepath="/guide/welcome"
			rcguidepath="/rhoconnect/introduction"
		else
			vpath = "/en/#{@docversion}"
			homepath="#{vpath}/home"
			mapipath="#{vpath}/rhoelements/apicompatibility"
			mguidepath="#{vpath}/rhodes/introduction"
			rcguidepath="#{vpath}/rhoconnect/introduction"
		end
		%>
			 
		<div class="row span11">
			<!-- <div class="span6"> -->
				<ul class="nav">
				  <li class="<%=sectionGroup=='Home' ? 'active' : ''%>">
				    <a href="<%=homepath%>"><i class="icon-home"></i></a>
				  </li>
				  <li class="<%=sectionGroup=='Mobile API Docs' ? 'active' : ''%>">
				      <a href="<%=mapipath%>"><i class="icon-cog"></i>API Reference</a>
				  </li>
				  <li class="<%=sectionGroup=='Mobile Guides' ? 'active' : ''%>">
				    <a href="<%=mguidepath%>"><i class="icon-book"></i>RhoMobile Guides</a>
				  </li>
				  <li class="<%=sectionGroup=='RhoConnect Guides' ? 'active' : ''%>">
				    <a href="<%=rcguidepath%>"><i class="icon-refresh"></i>RhoConnect Guides</a>
				  </li>
				<!-- </ul> -->
			<!-- </div> -->
			<!-- <div class="span1 pull-right"> -->
				</ul>
				<ul class="nav pull-right">
				<li>
					<a  rel="tooltip" title="Report Doc Issue" tooltip="Report Doc Issue" href="#"><i class="icon icon-bug "></i> Doc Issue</a>
				</li>
				<li class="navbar-form">
	    	<!-- </div> -->
			<!-- <div class="span2 pull-right"> -->
			  	<% if request.path_info != '/search' %>
				  	<select id="version_select" class="input input-medium">
							  <option value='4.0.0' <%=@docversion.nil? || @docversion== '4.0.0' ? 'SELECTED' : ''%>>RMS 4.x Docs</option>
							  <option value='2.2.0' <%=@docversion=='2.2.0' ? 'SELECTED' : ''%>>RMS 2.x Docs</option>
							</select>
		    	<% end %>
		    	</li>
		    <!-- </div>	 -->
		</ul>

		</div>

  </div>


</div>	


    

  
<div id="" class="row-fluid">
	
	<div id="doc_container" class="span12" >

	<div id="docsnav" class="span2" <% if @print != 0 %> style="display:none" <% end %> >
		
		
    	
			<% collapsed = true 
			 first = true
			%>
	<% 
	if !@steps.nil?
		%>
		<div class='well'>
			<ul class='nav nav-list'>
			<li class="nav-header"><a href="/tutorial/<%=@doc%>"><i class='icon '</i> <%=@docTitle %></a> </li>
				  	
			<% @steps.each do |gitlabel, title| %>
				<li class="<%='active' if gitlabel == @step%> "><a href='/tutorial/<%=gitlabel%>/<%=@doc%>'><%=title%></a></li>
				<% if gitlabel == @step %>
					<% if @toc.size > 0 && @print == 0 %>
						<ul class='nav nav-list'>
							<% @toc.each do |section| %>
								<li><a href="#<%= slugify(section) %>" class="muted"><i class="icon icon-angle-right"></i><%= section %></a></li>
							<% end %>
						</ul>
					<% end %>	
				<% end %>			
			<% end %>
			</ul>
		</div>
		 
	<%else
	sections.each do |slug, title, sectgroup, topics| 
		
		%>
	<% if sectionGroup == sectgroup %>
		<% if topics and topics.length > 0 %>
			<% collapsed = false if TOC.find(request.path_info) == slug %>
			<%
			if collapsed
				header_icon = "icon-chevron-right"

			else
				header_icon = "icon-chevron-down"				
			end		
			%>
			<div class="accordion-heading">			
				<li class="nav-header" data-target="#<%=slug%>" data-toggle="collapse">
					<%= title %><i class="<%=header_icon%>" style="float:left"></i>
					
				</li>
			</div>
			<ul class="nav nav-list  <%=collapsed ? 'collapse' : 'in'%>" id="<%=slug%>" >
    
			<% topics.each do |slug, title, _|
				 %>
				<% if topic_path == slug %>
					<li class="active"><a onclick="return false" href="/<%= slug %>"><%=h title %></a></li>
				<% else %>
					<% if slug != 'rhoelements/apicompatibility' %>
					<li><a class='js-pjax' href="/<%= slug %>"><%=h title %></a></li>
					<%else%>
					<li><a  href="/<%= slug %>"><%=h title %></a></li>
					<%end %>
				<% end %>
			<% end %>
			</ul>
			<% collapsed = true %>
		<% else %>
				<% if first 
					first=false %>
				<% else %>
				<li class="divider"></li>
				</ul>
				<% end %>
				<h3><%= title %></h3>
				<ul class="nav nav-list">
					
				
		<% end %>
		<% end %>
	<% end %>
		</ul>	
	<% end %>
		
	</div>

	<div class="span8">
		<% if !@docversion.nil? && @docversion != '4.0.0'%>
			<div class="alert alert-block">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      <strong><i class="icon icon-warning-sign icon-large"></i> Warning! - You are not viewing the current version of documentation</strong>
		    </div>
    	<% end %>		
		<div id="t_content" class="topic_content">
			<%= yield %>
		</div>
	</div>
	</div>
</div> <!-- end container -->

<% if request.host == 'docs.rhomobile.com' %>
<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5554280-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>
<% end %>


</body>
</html>
