<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Heroku | <%=h @title %></title>
	<link href="/css/docs.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="bodywrap">

	<%= HerokuHeader.show %>

	<ul id="docsnav">
		<li class="title"><a href="/">Heroku Docs</a></li>
		<% sections.each do |slug, title| %>
			<% if params[:topic] == slug %>
				<li class="current"><a><%= title %></a></li>
			<% else %>
				<li><a href="/<%= slug %>"><%= title %></a></li>
			<% end %>
		<% end %>
	</ul>

	<div id="content">
		<div class="topic_content">
			<%= yield %>
		</div>
	</div>

</div>
</body>
</html>
