<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Rhomobile | <%=h @title %></title>
	<link type="text/css" rel="stylesheet" href="/themes/launchpad/template/global/custom-css.ftl.css" media="screen,print" />
	
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen,print" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" media="screen,print" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen,print" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/application.css" media="screen,print" />
	
	<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.pjax.min.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>

</head>
<body >

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand"><img src="/images/bg/motorola-logo.png" style="width:32px"/>&nbsp;<strong>RhoMobile Suite Documentation</strong></a>
    	<form class="navbar-search pull-right" action="/search">
				<input type="text" class="search-query span4" placeholder="Search" name="q" size="31" value="">
    

		</form>
  </div>
</div>	


    

<% sectionGroup  = TOC.findGroup(request.path_info) %>
<% sectionTabindex = TOC.findGroupTab(request.path_info) %>
	 
<div class="row-fluid span12">
<ul class="nav nav-tabs">
  <li class="<%=sectionTabindex==1 ? 'active' : ''%>">
    <a href="/home"><i class="icon-home"></i>Home</a>
  </li>
  <li class="<%=sectionTabindex==2 ? 'active' : ''%>">
      <a href="/api/apiusage"><i class="icon-cog"></i>API Docs</a>
  </li>
  <li class="<%=sectionTabindex==3 ? 'active' : ''%>">
    <a href="/rhodes/introduction"><i class="icon-book"></i>Mobile Guides</a>
  </li>
  <li class="<%=sectionTabindex==4 ? 'active' : ''%>">
    <a href="/rhoconnect/introduction"><i class="icon-refresh"></i>RhoConnect Guides</a>
  </li>
  
</ul>

</div>  
<div id="container" class="row-fluid">

	<div id="doc_container" class="span12" >
	<div id="docsnav" class="span2" <% if @print != 0 %> style="display:none" <% end %> >
			<% collapsed = true 
			 first = true
			%>
	<% sections.each do |slug, title, sectgroup, topics| %>
	<% if sectionGroup == sectgroup %>
		<% if topics and topics.length > 0 %>
			<% collapsed = false if TOC.find(request.path_info) == slug %>
			<%
			if collapsed
				header_icon = "icon-chevron-right"

			else
				header_icon = "icon-chevron-down"				
			end		
			%>
			<div class="accordion-heading">			
				<li class="nav-header" data-target="#<%=slug%>" data-toggle="collapse">
					<%= title %><i class="<%=header_icon%>" style="float:left"></i>
					
				</li>
			</div>
			<ul class="nav nav-list  <%=collapsed ? 'collapse' : 'in'%>" id="<%=slug%>" >
    
			<% topics.each do |slug, title, _| %>
				<% if topic_path == slug %>
					<li class="active"><a onclick="return false" href="/<%= slug %>"><%=h title %></a></li>
				<% else %>
					<% if slug != 'rhoelements/apicompatibility' %>
					<li><a class='js-pjax' href="/<%= slug %>"><%=h title %></a></li>
					<%else%>
					<li><a  href="/<%= slug %>"><%=h title %></a></li>
					<%end %>
				<% end %>
			<% end %>
			</ul>
			<% collapsed = true %>
		<% else %>
				<% if first 
					first=false %>
				<% else %>
				<li class="divider"></li>
				</ul>
				<% end %>
				<h3><%= title %></h3>
				<ul class="nav nav-list">
					
				
		<% end %>
		<% end %>
	<% end %>
		</ul>	
	</div>

	<div class="span8">
		<div id="t_content" class="topic_content">
			<%= yield %>
		</div>
	</div>
	</div>
</div> <!-- end container -->

<% if request.host == 'docs.rhomobile.com' %>
<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5554280-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>
<% end %>
</body>
</html>
