<% @title = "Search for #{params[:q]}" %>

<h1><%=search['matches'] %> Results for <em style="color:#4c4074"><%= params[:q] %></em>:</h1>

<div class="row-fluid">
<div id="results" class="span9">
  <% search['results'].each do |result| 
    # puts result
    %>
    <div class="result">
      <% if !result['docexternal'].nil? && result['docexternal']== 'True' %>
        <h2><a href="<%= result['dockey'] %>" target="_blank"><%=h result['title'] %></a></h2>

      <% else %>
        <h2><a href="/<%= result['dockey'] %>"><%=h result['title'] %></a></h2>

      <% end %>
      <%= result['snippet_text'] %> <% if result['snippet_text'] %>...<% end %><p><span class="pull-right badge"><%=result['version'] %></span><span class="pull-right badge"><%=result['category'] %></span></p>
    </div>
  <% end %>
</div>

<div id="facets" data-query="<%= params[:q] %>" class="span3">
  <ul  class="nav nav-list">
  <% 
  @allselected=true
        
total['facets'].each do |facettype,facet| 
  if facettype != 'chunknum'
  %>
  <li class="nav-header"><%=facettype%></li>
    <% facet.each do |key,value| %>
      <%
        # if combination is in the search reseults then set item to highlugh and true
        # if !search["facets"][facettype].nil? && !search["facets"][facettype][key].nil?
        if (!search['facets'][facettype].nil? && search['facets'][facettype].include?(key)) || categories == {}
         
          badgetype='icon-check'
        typeselected='true'
      else
        badgetype='icon-check-empty'
        typeselected='false'
        @allselected=false
        end
      %>
      <li  data-selected= "<%=typeselected%>" data-type="<%=facettype%>" data-id='<%=key %>'> <i class="icon <%=badgetype%>"></i><%=key %> (<%=value %>)</li>
    <% end %>
  <% end %>
  <%
  end
  %>
  </ul>
</div>
</div>


<% if next_page %>
  <div id="next_section"><a href="/search?q=<%= query %>&page=<%= next_page %>&c=<%=category%>&v=<%=version%>">Next Page &rarr;</a></div>
<% end %>

<% if prev_page %>
  <div id="prev_section"><a href="/search?q=<%= query %>&page=<%= prev_page %>&c=<%=category%>&v=<%=version%>">&larr; Prev Page</a></div>
<% end %>
