<% @title = "Search for #{params[:q]}" %>

<h1>Results for <em style="color:#4c4074"><%= params[:q] %></em>:</h1>

<div id="results">
  <% search['results'].each do |result| %>
    <div class="result">
      <h2><a href="/<%= result['docid'] %>"><%=h result['title'] %></a></h2>
      <%= result['snippet_text'] %> <% if result['snippet_text'] %>...<% end %>
    </div>
  <% end %>
</div>

<% if next_page %>
  <div id="next_section"><a href="/search?q=<%= query %>&page=<%= next_page %>">Next Page &rarr;</a></div>
<% end %>

<% if prev_page %>
  <div id="prev_section"><a href="/search?q=<%= query %>&page=<%= prev_page %>">&larr; Prev Page</a></div>
<% end %>
