<h1><%= @title %></h1>

<% if @toc.size > 0 %>
	<ul id="toc">
		<% @toc.each do |section| %>
			<li><a href="#<%= slugify(section) %>"><%= section %></a></li>
		<% end %>
	</ul>
<% end %>

<%= @content %>

<% if @comment #ns = next_section(params[:topic]) %>
	<div id="next_section">Next: <a href="/<%= ns[0] %>"><%=h ns[1] %> &rarr;</div>
<% end %>
