<div id="rendered_topic_container">
	
	<div class="span12" data-title="Rhomobile | <%=h @title %>">
		<div class="span8">
		<h1><%= @title %></h1>
		<%= @intro %>


		<%= @body %>

		<% if ns = next_section(topic_path) %>
		    <% if @print == 0 %>
		      <div id="next_section">Next: <a class='js-pjax' href="/<%= ns[0] %>"><%=h ns[1] %> &rarr;</div>
		      <a href="/<%= topic_path%>.print"><img src="/images/print.png"> Print this page</a><br/>
		      <a href="/<%= topic_path%>.pdf"><img src="/images/pdf.png"> View as a PDF</a>
		    <% end %>
		<% end %>
		</div>
		<% if (@toc.size > 0 || !@topicmodel.nil?) && @print == 0 %>

		<div id="sidebar" class="span3 well">
			
			<% if @toc.size > 0 && @print == 0 %>

			
				<ul class="nav nav-list">
					<li class="nav-header">IN THIS DOCUMENT</li>
  
					<% @toc.each do |section| %>
						<li><a href="#<%= slugify(section) %>"><%= section %></a></li>
					<% end %>
				</ul>
			<% end %>
			<% if !@topicmodel.nil? %>
				<ul class="nav nav-list">
					<% if @topicmodel["seealso"].length >0 %>
					<li class="nav-header">SEE ALSO</li>
  					<% @topicmodel["seealso"].each do |sa| %>
						<li><a href="<%= sa['url'] %>"><%= sa['name'] %></a></li>
					<% end %>
					<%end%>
				</ul>
				<ul class="nav nav-list">
					<% if @topicmodel["keyclasses"].length >0 %>
					<li class="nav-header">KEY APIs</li>
  					<% @topicmodel["keyclasses"].each do |sa| %>
						<li><a href="<%= sa['url'] %>"><%= sa['name'] %></a></li>
					<% end %>
					<%end%>		
				</ul>
			<% end %> 
			<%if @indicatorslang != ""%>
			<%=@indicatorslang%>
			<%end%>

			<%if @oslist != ""%>
			<%=@oslist%>
			<%end%>
	
		</div>
		<%end%>
	</div>
</div>
