<script type="text/javascript">
  $(document).ready(function() {
  	$("#stack-compare tr").click(function(){
  	  window.location=$(this).find("a").attr("href"); 
  	  return false;
  	});
  });
</script>
<h1><%= @title %></h1>

<%= @intro %>

<% if @toc.size > 0 %>
	<ul id="toc">
		<% @toc.each do |section| %>
			<li><a href="#<%= slugify(section) %>"><%= section %></a></li>
		<% end %>
	</ul>
<% end %>

<%= @body %>

<% if ns = next_section(params[:topic]) %>
	<div id="next_section">Next: <a href="/<%= ns[0] %>"><%=h ns[1] %> &rarr;</div>
<% end %>
