<div id="rendered_topic_container" style="overflow:auto;">
<script type="text/javascript">
$(document).ready(function() {
     
	$('.autouncollapse').click(function(e) {
	    //auto expand the collapse section
	    // $("#" + this.attributes["data-target"].nodeValue).collapse('show');
	    
	});	

	$('#expandAll').click(function(e) {
	    //auto expand the collapse section
	    $(".accordion-body").collapse('toggle');
	    
	});	

	
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
 });

</script>
<style>
/*.dropdown-menu ul {
    float: left;
    list-style: none;
    overflow: auto;
    
}
.dropdown-menu ul a {
    display: block;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu ul a:hover, .dropdown-menu ul a:focus, .dropdown-submenu:hover a, .dropdown-submenu:focus a {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #08c, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #08c, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
*/
</style>
	<div class="" data-title="Rhomobile | <%=h @title %>">
		<div class="span12">
		<h1><%= @title %></h1>
		<%= @intro %>


		<%= @body %>

		<% if ns = next_section(topic_path) %>
		    <% if @print == 0 %>
		      <div id="next_section">Next: <a class='js-pjax' href="/<%= ns[0] %>"><%=h ns[1] %> &rarr;</div>
		      <a href="/<%= topic_path%>.print"><img src="/images/print.png"> Print this page</a><br/>
		      <a href="/<%= topic_path%>.pdf"><img src="/images/pdf.png"> View as a PDF</a>
		    <% end %>
		<% end %>
		</div>
		<% if (@toc.size > 0 || !@topicmodel.nil?) && @print == 0 %>
<!--
		<div id="sidebar" class="span3 well">
			
			<% if @toc.size > 0 && @print == 0 %>

			
				<ul class="nav nav-list">
					<li class="nav-header">IN THIS DOCUMENT</li>
  
					<% @toc.each do |section| %>
						<% if @toc_sub.length >0 %>
							<li class="nav-header" data-target="#toc_<%= slugify(section) %>" data-toggle="collapse"><%= section %><i class="icon-chevron-down" style="float:right"></i></li>

							<ul class="nav nav-list collapse" id="toc_<%= slugify(section) %>" style="margin-top:0px !important">
								<% @toc_sub.each do |subsection| %>
									<% if slugify(section) == subsection["h2"] %>
										<li><a href='#<%= slugify(subsection["h3"]) %>'><%= subsection["h3"] %></a></li>
										
									<% end %>
								<% end %>
							</ul>
						<% else %>
							<li><a href="#<%= slugify(section) %>"><%= section %></a></li>
						
						<% end %>
						
					<% end %>
				</ul>
			<% end %>
			<% if !@topicmodel.nil? %>
				<ul class="nav nav-list">
					<% if @topicmodel["seealso"].length >0 %>
					<li class="nav-header">SEE ALSO</li>
  					<% @topicmodel["seealso"].each do |sa| %>
						<li><a href="<%= sa['url'] %>"><%= sa['name'] %></a></li>
					<% end %>
					<%end%>
				</ul>
				<ul class="nav nav-list">
					<% if @topicmodel["keyclasses"].length >0 %>
					<li class="nav-header">KEY APIs</li>
  					<% @topicmodel["keyclasses"].each do |sa| %>
						<li><a href="<%= sa['url'] %>"><%= sa['name'] %></a></li>
					<% end %>
					<%end%>		
				</ul>
			<% end %> 
			<%if @indicatorslang != ""%>
			<%=@indicatorslang%>
			<%end%>

			<%if @oslist != ""%>
			<%=@oslist%>
			<%end%>
	
		</div>
		<%end%>
	
	</div>
</div>
