<h1><%= @title %></h1>

<ul id="toc">
	<% @toc.each do |section| %>
		<li><a href="#<%= slugify(section) %>"><%= section %></a></li>
	<% end %>
</ul>

<%= @content %>

<% if ns = next_section(params[:topic]) %>
  <div id="next_section">Next: <a href="/<%= ns[0] %>"><%= ns[1] %> &rarr;</div>
<% end %>

