<div id="rendered_topic_container" style="overflow:auto;padding-right: 5px;">
	<div id="rendered_topic" data-title="Rhomobile | <%=h @title %>">
		<% if @stepTitle != '' %>	
		
		<div class="row-fluid">
			<ul doc-tutorial-nav="0" class="btn-group pull-left">
				<li class="btn"><i class="icon icon-arrow-up"></i><a href="<%= topic_path %>"> Back to Top</a></li>
				<%if @prevStep!=''%>
					<li class="btn <%='disabled' if @prevStep==''%>"><a href="/tutorial/<%=@prevStep %>/<%=@doc %>"><i class="icon-step-backward"></i> Previous</a></li>
				<% else %>
					<li class="btn disabled"><i class="icon-step-backward"></i> Previous</li> 
				<%end%>
				
				<%if @nextStep!=''%>
				<li class="btn "><a href="/tutorial/<%=@nextStep %>/<%=@doc %>">Next <i class="icon-step-forward"></i></a></li>
				<% else %>
				<li class="btn disabled">Next <i class="icon-step-forward"></i></li>

				<%end%>
			</ul>
			<%if !@codediffUrl.nil? %>
			<ul class="btn-group pull-right">
			
				<li class="btn"><a href="<%=@codediffUrl%>" target="_blank"><i class="icon-search"></i> Code Diff</a></li>
			</ul>

				<%end%>
		</div>
		<% end %>
		

		<div class="row-fluid">
		<% if @stepTitle != '' %>	
			<H1><%=@stepTitle%></H1>
		<% else %>
			<H1><%=@docTitle%></H1>
		<%end%>
		<%= @intro %>

		</div>

		<div class="row-fluid">
		

		<%= @body %>
		</div>

		
		
		<% if @stepTitle != '' %>	
		
		<div class="row-fluid">
			<ul doc-tutorial-nav="0" class="btn-group pull-left">
				<li class="btn"><i class="icon icon-arrow-up"></i><a href="<%= topic_path %>"> Back to Top</a></li>
				<%if @prevStep!=''%>
					<li class="btn <%='disabled' if @prevStep==''%>"><a href="/tutorial/<%=@prevStep %>/<%=@doc %>"><i class="icon-step-backward"></i> Previous</a></li>
				<% else %>
					<li class="btn disabled"><i class="icon-step-backward"></i> Previous</li> 
				<%end%>
				
				<%if @nextStep!=''%>
				<li class="btn "><a href="/tutorial/<%=@nextStep %>/<%=@doc %>">Next <i class="icon-step-forward"></i></a></li>
				<% else %>
				<li class="btn disabled">Next <i class="icon-step-forward"></i></li>

				<%end%>
			</ul>
			<%if !@codediffUrl.nil? %>
			<ul class="btn-group pull-right">
			
				<li class="btn"><a href="<%=@codediffUrl%>" target="_blank"><i class="icon-search"></i> Code Diff</a></li>
			</ul>

				<%end%>
		</div>
		<% else %>
		<div class="row-fluid">
			<a href="step-0/emberjs" class="btn btn-success btn-large icon icon-large icon-thumbs-up"> Get Started</a>
		</div>

		<% end %>
		

	</div>

	
</div>