<div id="rendered_topic_container" style="overflow:auto;padding-right: 5px;">
	<div id="rendered_topic" data-title="Rhomobile | <%=h @title %>">
		<% if @stepTitle != '' %>	
		
		<div class="row-fluid">
			<ul doc-tutorial-nav="0" class="btn-group pull-left">
				
				<%if @prevStep!=''%>
					<a href="/tutorial/<%=@prevStep %>/<%=@doc %>"><li class="btn btn-primary <%='disabled' if @prevStep==''%>" ><i class="icon-step-backward icon-muted"></i> Previous</li></a>
				<% else %>
					<li class="btn disabled"><i class="icon-step-backward"></i> Previous</li> 
				<%end%>
				
				<%if @nextStep!=''%>
				<a href="/tutorial/<%=@nextStep %>/<%=@doc %>"><li class="btn  btn-primary ">Next <i class="icon-step-forward icon-muted"></i></li></a>
				<% else %>
				<li class="btn disabled">Next <i class="icon-step-forward"></i></li>

				<%end%>
			</ul>
			<%if !@codediffUrl.nil? %>
			<ul class="btn-group pull-right">
			
				<a href="<%=@codediffUrl%>" target="_blank"><li class="btn btn-primary "><i class="icon-search  icon-muted"></i> Code Diff</li></a>
			</ul>

				<%end%>
		</div>
		<% end %>
		

		<div class="row-fluid">
		<% if @stepTitle != '' %>	
			<H1><%=@stepTitle%></H1>
		<% else %>
			<H1><%=@docTitle%></H1>
		<%end%>
		<%= @intro %>

		</div>

		<div class="row-fluid">
		

		<%= @body %>
		</div>

		
		
		<% if @stepTitle != '' %>	
		
		<div class="row-fluid">
			<ul doc-tutorial-nav="0" class="btn-group pull-left">
				<a href="<%= topic_path %>"><li class="btn btn-primary "><i class="icon icon-arrow-up icon-muted"></i> Back to Top</li></a>
				<%if @prevStep!=''%>
					<a href="/tutorial/<%=@prevStep %>/<%=@doc %>"><li class="btn <%='disabled' if @prevStep==''%> btn-primary "><i class="icon-step-backward icon-muted"></i> Previous</li></a>
				<% else %>
					<li class="btn disabled"><i class="icon-step-backward"></i> Previous</li> 
				<%end%>
				
				<%if @nextStep!=''%>
				<a href="/tutorial/<%=@nextStep %>/<%=@doc %>"><li class="btn  btn-primary ">Next <i class="icon-step-forward icon-muted"></i></li></a>
				<% else %>
				<li class="btn disabled">Next <i class="icon-step-forward"></i></li>

				<%end%>
			</ul>
			<%if !@codediffUrl.nil? %>
			<ul class="btn-group pull-right">
			
				<a href="<%=@codediffUrl%>" target="_blank"><li class="btn btn-primary "><i class="icon-search icon-muted"></i> Code Diff</li></a>
			</ul>

				<%end%>
		</div>
		<% else %>
		<div class="row-fluid">
			<a href="/tutorial/<%=@steps[0][0]%>/<%=@doc %>" class="btn btn-success btn-large icon icon-large icon-thumbs-up"> Get Started</a>
		</div>
		<div style="padding:20px">
		</div>
		<% end %>
		

	</div>

	
</div>